[Unit]
Description=Wiseflat xPL x10 daemon
After=networking.service
After=xpl-hub.service

[Service]
Type=simple
ExecStart=/usr/local/bin/node /opt/xpl-x10/index.js

Restart=always

[Install]
WantedBy=multi-user.target
